.textTypingAnimation {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid white;
    animation: blink-caret 0.9s step-end infinite;
    height: fit-content;
    font-size: 1rem;
    height: 1.2rem;
    line-height: 1.2rem;
}

@keyframes blink-caret {
    50% {
    border-color: transparent; /* Hide the caret */
    }
}