.container {
    gap: 1.5rem;
    padding: 2rem 2rem 2rem 2rem;
    color: #333;
}

.header {
    width: 100%;
    text-align: left;
}
.headerTitle {
    font-weight: normal;
    margin: 0;
    color: #222;
}
.headerBody {
    color: #666;
    margin: 0;
    margin-left: 0.5rem;
}

.item {
    margin: 1rem 0 1rem 0;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    &:hover {
        transform: translateY(-0.3rem);
        background-color: rgba(249, 249, 249, 1);
    }
}
.itemHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    align-items: center;
    align-content: stretch;
}
.itemHeader * {
    margin: 0;
    text-align: left;
}
.itemHeaderLogo {
    max-width: 200px;
    min-width: 64px;
    max-height: 200px;
    border-radius: 8px;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}
.itemHeaderTitle {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex-grow: 1;
}
.itemHeaderTags {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 0.2rem;
}
.itemHeaderTags h4 {
    text-align: end;
    margin: 0;
    font-weight: normal;
    color: #555;
}
.itemHeaderDate {
    margin: 0;
    font-size: 0.65rem;
    color: #777;
}

.itemBody {
    margin-top: 1rem;
    text-align: left;
}
.itemBodyTags span {
    display: inline-block;
    background: #eee;
    color: #555;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    margin: 0.2rem 0.2rem 0.2rem 0;
    font-size: 0.7rem;
}

@media (max-width: 768px) {
    .headerTitle {
        text-align: center;
    }
    .headerBody {
        text-align: center;
        margin: 0;
    }
    .itemHeader {
        gap: 0.5rem;
    }
    .itemHeaderTags {
        margin: 0 1rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-direction: row;
    }
    .itemHeaderTags h4 {
        text-align: left;
    }
}