.container {
    gap: 1.5rem;
    padding: 2rem 2rem 2rem 2rem;
    color: #333;
}

.header {
    width: 100%;
    text-align: left;
}
.headerTitle {
    font-weight: normal;
    margin: 0;
    color: #222;
}
.headerBody {
    color: #666;
    margin: 0;
    margin-left: 0.5rem;
}

.itemContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem;
}
.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    align-items: stretch;
    transition: transform 0.3s ease, background-color 0.3s ease;
    &:hover {
        transform: translateY(-0.3rem);
        background-color: rgba(249, 249, 249, 1);
    }
}
.itemImagePreview {
    max-width: 100%;
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin: 0;
    &:hover {
        transform: scale(1.05);
    }
}
.itemVideoPreview {
    width: 100%;
    height: 260px;
    margin: 0;
}
.itemContent {
    flex-grow: 1;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
}
.itemTitle {
    width: 100%;
    text-align: left;
    margin: 0;
    color: #222;
}
.itemDesc {
    width: 100%;
    text-align: left;
    margin: 0.5rem 0 3rem 0;
    flex-grow: 1;
}
.itemTags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.itemTags * {
    font-size: 0.65rem;
    background-color: #eee;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

.itemFeatures {
    width: 100%;
    text-align: left;    
    margin-top: 1rem;
}
.itemFeatures h4 {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem 1rem 1rem 1rem;
        gap: 1rem;
    }
    .headerTitle {
        text-align: center;
    }
    .headerBody {
        text-align: center;
        margin-left: 0;
    }
    .itemContainer {
        margin: 1rem;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .itemVideoPreview {
        height: 200px;
    }
    .itemImagePreview {
        height: 150px;
    }
}