.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  text-align: center;
  flex: 0 0 100%;
  min-width: 0;
}
.embla__slide img {
  text-align: center;
  margin: 0 auto;
  object-fit: cover;
  max-width: 95%;
  width: 100%;
  height: 100%;
}