html,
body {
  font-family: IBM Plex Sans, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  height: 100%;
}

section {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the layout takes up the full height of the viewport */
}

a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease;
}

.content {
  flex: 1; /* Push the footer to the bottom */
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 768px) {
    .content {
    flex: 1; /* Push the footer to the bottom */
    max-width: 1080px;
    margin: 0;
  }
}