html,
body {
  font-family: IBM Plex Sans, Newsreader, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-weight: 300;
  height: 100%;
}

section {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the layout takes up the full height of the viewport */
}

a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #333;
}

.content {
  flex: 1; /* Push the footer to the bottom */
}