html,
body {
  font-family: IBM Plex Sans, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  height: 100%;
}

.glass-card {
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  color: #000; /* Text color */
  text-align: center; /* Center-align text */
}

section {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the layout takes up the full height of the viewport */
}

a {
  font-size: 0.7rem;
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease;
}

.content {
  flex: 1; /* Push the footer to the bottom */
  max-width: 1080px;
  margin: 2rem auto;
  width: 100%;
}

@media (max-width: 768px) {
    .content {
    flex: 1; /* Push the footer to the bottom */
    max-width: 1080px;
    margin: 0;
  }
}

img {
  margin-bottom: 1rem;
  max-width: 200px;
  width: 15vw;
  object-fit: cover;
}

p {
  font-size: 0.9rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}