.container {
    gap: 1.5rem;
    padding: 2rem 2rem 2rem 2rem;
    color: #333;
}

.header {
    width: 100%;
    text-align: left;
}
.headerTitle {
    font-weight: normal;
    margin: 0;
    color: #222;
}
.headerBody {
    color: #666;
    margin: 0;
    margin-left: 0.5rem;
}

.skillsSetContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin: 2rem;
    margin-top: 0.5rem;
}

.skillsSet {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.skillsSetTitle {
    width: 100%;
    margin: 0;
    margin-bottom: 0.5rem;
}
.skillsSet span {
    display: inline-block;
    background: #eee;
    color: #555;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    margin: 0.2rem 0.2rem 0.2rem 0;
    font-size: 0.7rem;
}


.certificateContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin: 2rem;
    margin-top: 0.5rem;
    justify-items: center;
    padding: 1rem;
}
.certificateContainer h3 {
    width: fit-content;
    &:hover {
        text-decoration: underline;
    }
}
