.container {
    gap: 1.5rem;
    padding: 2rem 2rem 2rem 2rem;
    color: #333;
}

.header {
    width: 100%;
    text-align: left;
}
.headerTitle {
    font-weight: normal;
    margin: 0;
    color: #222;
}
.headerBody {
    font-size: 1rem;
    color: #666;
    margin-left: 0.5rem;
}

.section {
    margin: 0 5rem 0 0;
    align-items: center;
    overflow: hidden;
}
.sectionBody {
    color: #444;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    margin: 0 0 0 1rem;
}
.profileImage {
    margin-bottom: 1rem;
    max-width: 150px;
    width: 15vw;
    object-fit: cover;
}
.profileContents {
    max-width: 15em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profileContents * {
    color: #555;
    text-align: center;
    margin: 0.3rem 0.5rem 0.3rem 0.5rem;
}
.profileContents *:hover {
    color: #333;
    text-decoration: underline;
}

.feature {
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

@media (max-width: 768px) {
    .headerTitle {
        text-align: center;
        font-size: 1.5rem;
    }
    .headerBody {
        text-align: center;
        font-size: 1rem;
        margin: 0;
    }
    .section {
        display: flex;
        max-width: 800px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    .profile {
        margin: 0;
    }
    .profileImage {
        margin: 0;
        width: 30vw;
        object-fit: cover;
    }

    .feature {
        padding: 1rem;
        width: 90%;
    }
}