.logoContainer {
    margin-left: 1rem;
    margin-right: 1rem;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navList {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
    margin: 0;
    margin-right: 2rem;
    padding: 0;
    transition: clip-path 0.3s ease-in-out;
}
.navItem {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 2rem;
}
.navLink {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}
.hamburger {
    display: none; /* Hidden by default, shown on mobile via media query */
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
}

/* Mobile Styles */
@media (max-width: 910px) {
    .hamburger {
        display: block; /* Show hamburger menu on mobile */
    }
    .navList {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #ffffff;
        gap: 1rem;

        overflow: hidden;
        position: absolute;
        top: 99%;
        width: 100%;
        height: fit-content;
        clip-path: inset(0 0 100% 0);
    }
    .navListOpen {
        clip-path: inset(0 0 0 0);
    }
    .navLink {
        font-size: 1.2rem;
    }
}