.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
}
.logoContainer {
    margin-left: 1rem;
    min-width: 20%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}
.navList {
    width: 100%;
    margin: 0px 1rem 0px 1rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    transition: clip-path 0.3s ease-in-out;
}
.navItem {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.navLink {
    text-decoration: none;
    font-size: 1rem;
}
.navLink:hover, .navLinkActive {
    color: #1b1b1b;
}
.hamburger {
    display: none; /* Hidden by default, shown on mobile via media query */
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navContainer {
        width: 100%;
        margin: 0;
    }
    .hamburger {
        display: block; /* Show hamburger menu on mobile */
    }
    .navList {
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 0.2rem 0 0;
        padding: 1rem 0 1rem 0;

        position: absolute;
        top: 100%;
        clip-path: inset(0 0 100% 0);
    }
    .navListOpen {
        clip-path: inset(0 0 0 0);
    }
    .navLink {
        font-size: 1.2rem;
        margin-right: 1rem;
    }
}